@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Добро пожаловать</h4>
                </div>
                <div class="card-body">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            <h5>Ошибка доступа</h5>
                            <p>@ViewBag.Error</p>
                            <p>Пожалуйста, обратитесь к администратору для получения новой ссылки.</p>
                        </div>
                    }
                    else
                    {
                        <p>Для доступа к системе используйте временную ссылку, полученную от администратора.</p>
                        <p>Если у вас есть ссылка, просто перейдите по ней для авторизации.</p>

                        <div class="alert alert-info">
                            <h5>Как это работает:</h5>
                            <ol>
                                <li>Администратор создает для вас временную ссылку</li>
                                <li>Вы получаете ссылку по email или другим способом</li>
                                <li>Переходите по ссылке для доступа к системе</li>
                                <li>Ссылка действительна только один раз и ограничена по времени</li>
                            </ol>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>